table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 2px solid #000000;
}

tr {
    height: 50px;
}

thead {
    background-color: #795548;
    color: #ffffff;
}

tbody {
    background-color: #ffffff;
}

.btn {
    border-radius: 15px;
    padding: 15px 32px;
    margin: 20px;
    font-size: 16px;
}

#trueBtn {
    background-color: #d4b07c;
}
#falseBtn {
    background-color:  #bdbdbd;
}

input[type=submit] {
    border-radius: 15px;
    padding: 15px 32px;
    margin: 20px;
    font-size: 16px;
}

input[type=submit]:nth-child(2) {
    background-color: #d4b07c;
}

input[type=submit]:last-child {
    background-color:  #bdbdbd;
}