table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 2px solid #000000;
}

tr {
    height: 50px;
}

thead {
    background-color: #795548;
    color: #ffffff;
}

tbody {
    background-color: #ffffff;
}

.btn {
    border-radius: 15px;
    height: 50px;
    width: 200px;
    margin: 20px;
    font-size: 16px;
}

#trueBtn {
    background-color: #d4b07c;
}
#falseBtn {
    background-color:  #bdbdbd;
}

#cancelPaymentBtn {
    background-color: #791d16;
}

input[type=checkbox] {
    border-radius: 5px;
}

input[type=submit] {
    border-radius: 15px;
    padding: 15px 32px;
    margin: 20px;
    font-size: 16px;
}

input[type=submit]:nth-child(2) {
    background-color: #d4b07c;
}

input[type=submit]:last-child {
    background-color:  #bdbdbd;
}

input[type=reset]:last-child {
    border-radius: 15px;
    padding: 15px 32px;
    margin: 20px;
    font-size: 16px;
    background-color:  #bdbdbd;
}

.uploadDiv {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.uploadDiv table, .uploadDiv td {
    border: 0px;
}

.uploadDiv td {
    vertical-align: top;
}

tr td:first-child {
    width: 15vw;
}

input[type=text], select, textarea {
    border-radius: 8px;
    border: 2px solid #000000;
}

.uploadDiv input[type=text] {
    height: 3vh;
}

.uploadDiv tr:first-child input[type=text]:first-child {
    width: 15vw;
}

.uploadDiv select {
    height: 4vh;
}

.uploadDiv tr:nth-child(2) td:nth-child(3) {
    text-align: right;
}

.uploadDiv tr:nth-child(3), .uploadDiv tr:nth-child(4) {
    vertical-align: top;
}

.uploadDiv tr:nth-child(3) textarea {
    height: 7vh;
    width: 99%;
}

.uploadDiv tr:nth-child(4) textarea {
    height: 10vh;
    width: 99%;
}

.inputBtn {
    text-align: center;
}

.inputBtn input[type=submit] {
    background-color: #d4b07c;
}

.inputBtn input[type=reset] {
    background-color:  #bdbdbd;
}

.modifyFormDiv {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.modifyFormDiv table, .modifyFormDiv td {
    vertical-align: top;
    border: 0px;
}

.modifyFormDiv td {
    vertical-align: center;
}

.modifyFormDiv input[type=text] {
    height: 3vh;
    width: 15vw;
}

.modifyFormDiv tr:nth-child(4) textarea {
    height: 7vh;
    width: 99%;
}

.modifyFormDiv tr:nth-child(5) textarea {
    height: 10vh;
    width: 99%;
}

.filterDiv {
    padding-top: 10px;
    margin: 20px;
    text-align: center;
}

.filterDiv table, .filterDiv tr, .filterDiv td {
    border: 0px;
}

.filterDiv td {
    width: 25%;
}

.filterDiv td:first-child, .filterDiv td:nth-child(2) {
    text-align: left;
}

.filterDiv td:nth-child(3), .filterDiv td:nth-child(4) {
    text-align: right;
}

.filterDiv select {
    border-radius: 0px;
    padding: 10px 15px;
    font-size: 15px;
}

.filterDiv option {
    font-size: 15px;
}

.authorDashboard {
    padding-top: 10px;
    margin: 20px;
    text-align: center;
}

.editorDashboard {
    padding-top: 10px;
    margin: 20px;
    text-align: center;
}

.paymentTable {
    margin: auto;
    padding: 10px;
    width: 60%;
    height: 300px;
    border: 0px;
}

.paymentTable th {
    border: 0px;
}

.paymentTable button {
    height: 80px;
    width: 200px;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.5);
}

.recordInfoFormDiv {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.recordInfoFormDiv table, .recordInfoFormDiv td {
    vertical-align: top;
    border: 0px;
}

.recordInfoFormDiv td {
    vertical-align: center;
}

.recordInfoFormDiv input[type=text] {
    height: 3vh;
    width: 13vw;
}

.recordInfoFormDiv textarea {
    height: 7vh;
    width: 99%;
}

.reviewersSelectedDiv {
    padding-top: 10px;
    margin: 20px;
    text-align: center;
}

.reviewersSelectedDiv table, .reviewersSelectedDiv tr, .reviewersSelectedDiv td {
    border: 0px;
}

.reviewersSelectedDiv td {
    width: 33%;
}

.reviewersSelectedDiv td:first-child {
    text-align: left;
}

.reviewersSelectedDiv td:nth-child(2) {
    text-align: center;
}

.reviewersSelectedDiv td:nth-child(3) {
    text-align: right;
}

.reviewersSelectedDiv select {
    border-radius: 5px;
    padding: 5px 30px;
    font-size: 15px;
    margin-left: 20px;
}

.reviewersSelectedDiv option {
    font-size: 15px;
}