table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 2px solid #000000;
}

tr {
    height: 50px;
}

thead {
    background-color: #795548;
    color: #ffffff;
}

tbody {
    background-color: #ffffff;
}

.btn {
    border-radius: 15px;
    padding: 15px 32px;
    margin: 20px;
    font-size: 16px;
}

#trueBtn {
    background-color: #d4b07c;
}
#falseBtn {
    background-color:  #bdbdbd;
}

#cancelPaymentBtn {
    background-color: #791d16;
}

input[type=checkbox] {
    border-radius: 5px;
}

input[type=submit] {
    border-radius: 15px;
    padding: 15px 32px;
    margin: 20px;
    font-size: 16px;
}

input[type=submit]:nth-child(2) {
    background-color: #d4b07c;
}

input[type=submit]:last-child {
    background-color:  #bdbdbd;
}

input[type=reset]:last-child {
    border-radius: 15px;
    padding: 15px 32px;
    margin: 20px;
    font-size: 16px;
    background-color:  #bdbdbd;
}

.uploadDiv {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.uploadDiv table, .uploadDiv td {
    border: 0px;
}

.uploadDiv td {
    vertical-align: center;
}

tr td:first-child {
    width: 15vw;
}

input[type=text], select, textarea {
    border-radius: 8px;
    border: 2px solid #000000;
}

.uploadDiv input[type=text] {
    height: 3vh;
}

.uploadDiv tr:first-child input[type=text]:first-child {
    width: 15vw;
}

.uploadDiv select {
    height: 4vh;
}

.uploadDiv tr:nth-child(2) td:nth-child(3) {
    text-align: right;
}

.uploadDiv tr:nth-child(3) {
    vertical-align: top;
}

.uploadDiv tr:nth-child(4) {
    vertical-align: top;
}

.uploadDiv tr:nth-child(3) textarea {
    height: 7vh;
    width: 99%;
}

.uploadDiv tr:nth-child(4) textarea {
    height: 10vh;
    width: 99%;
}

.inputBtn {
    text-align: center;
}

.inputBtn input[type=submit] {
    background-color: #d4b07c;
}

.inputBtn input[type=reset] {
    background-color:  #bdbdbd;
}